<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pc.academy_app_tis">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="TIS"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login_signup" />
        <activity
            android:name=".head.head_navigation"
            android:label="STUDENTS"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".head.Head_Batch"
            android:label="Batches" />
        <activity android:name=".head.teachers_profile"
            android:label="Teachers"/>
        <activity
            android:name=".head.fees"
            android:label="STUDENT&apos;S  FEES" />
        <activity android:name=".teacher.Teacher_batch"
            android:label="Batches"/>
        <activity
            android:name=".teacher.Teacher_navigation"
            android:label="TIS"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".teacher.Teachers_students"
            android:label="Students"/>
        <activity android:name=".head.Wall_of_fame_head"
            android:label="Hall Of Fame"/>
        <activity android:name=".teacher.Teachers_Wall_Of_Fame"
            android:label="Hall Of Fame"/>
        <activity android:name=".teacher.Teacher_new_test"
            android:label="Test List"/>
        <activity android:name=".teacher.Test_Record"
            android:label="Performance List"
            />
        <activity android:name=".teacher.Teacher_feed" />
        <activity
            android:name=".student.Student_Navigation"
            android:label="TIS"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".student.student_batch"
            android:label="Batches"/>
        <activity android:name=".student.student_fees_activity"
            android:label="Fees Record"/>
        <activity android:name=".student.students_feed"
            android:label="Feed"/>
        <activity android:name=".student.student_test_records"
            android:label="Test Record"/>
        <activity android:name=".You_Tube_links"
            android:label="Online Lectures"></activity>
        <meta-data
            android:name="com.parse.SERVER_URL"
            android:value="@string/back4app_server_url" />
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="@string/back4app_app_id" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="@string/back4app_client_key" />
    </application>

</manifest>